#root{  
    -fx-background-image:url("/resources/math.png");
    -fx-background-position:  center; 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#btnBack{
    -fx-pref-height:50;
    -fx-pref-width:50;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50 50;
    -fx-background-image:url("/resources/back.png");
    -fx-background-position:  center; 
    -fx-background-color: transparent;
}

#title{
    -fx-font-family:   Arial,Roboto,Helvetica, sans-serif;
    -fx-font-size: 27px; 
}


#button{
    -fx-pref-height:90;
    -fx-pref-width:250;
    -fx-font-size:15;
    -fx-font-weight:bolder;
    -fx-background-color: #E6EFF3;
   
    -fx-border-color: black;
    -fx-background-radius: 5.0;
    -fx-border-radius: 5.0
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#topBox{
    -fx-alignment: CENTER_LEFT ;
    -fx-spacing:30;
    -fx-padding: 10 0 20 10;
}


#questionArea{
    -fx-padding: 10 10 20 10;
    -fx-alignment: CENTER ;
    -fx-spacing:50;
}

#gridPane{
    -fx-padding: 25 10 10 10;
    -fx-alignment: CENTER ;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-background-fill: black, white ;
    -fx-background-insets: 0, 1 ;
}

#questionTitle{
    -fx-font-family:   Arial,Roboto,Helvetica, sans-serif;
    -fx-font-size: 24px; 
    -fx-text-alignment: CENTER ;
}

.image-view:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

